/********** Template CSS **********/

@keyframes fadeInScaleUp {
    0% {
        opacity: 0;
        /* Start as invisible */
        transform: scale(0.5);
        /* Start smaller */
    }

    100% {
        opacity: 1;
        /* End fully visible */
        transform: scale(1);
        /* End at normal size */
    }
}

/* Apply the animation to the image */
.px-2 {
    animation: fadeInScaleUp 10s ease-out;
    /* 2 seconds, ease-out timing */
}

:root {
    --primary: #02494F;
    --light: #F0FBFC;
    --dark: #181d38;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.key {
    font-weight: 600;
}

svg {
    vertical-align: middle;
    margin-right: 8px;
}

.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 8px;
    margin-top: 30px;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.button-advisor a {
    background-color: #00b5c7;
    padding: 10px 20px;
    border-radius: 25px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
}
.map-responsive iframe {
  max-width: 300px;
  height: 200px;
  border-radius: 8px;
}

.announcement-bar {
    background-color: #001f3f;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
}

.marquee {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left 15s linear infinite;
    font-weight: bold;
    font-size: 16px;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.appointment-btn {
    background-color: #850700;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    animation: shakeX 1s infinite;
    margin-left: 20px;
}

@keyframes shakeX {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}

.button-advisor a:hover {
    background-color: #0097a8;
    color: #fff;
}

@media (max-width: 767px) {
    .detail-section {
        padding: 0 15px;
    }

    .button-advisor {
        text-align: center;
    }

    .button-advisor a {
        width: 100%;
        justify-content: center;
    }
}

.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 ratio */
    height: 0;
    overflow: hidden;
    border-radius: 8px;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/carousel-1.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {

    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {

    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


/* course category css bgein */


.dropdown-menu {
    width: 98%;
    left: 1%;

}

h3.main-course-heading {
    position: relative;
    color: #00b5c7;
    margin-bottom: 5%;
}

ul.training-list a {
    color: #000000 !important;
}

h3.main-course-heading:after {
    content: '';
    position: absolute;
    width: 20%;
    height: 3px;
    background: #00b5c7;
    top: 100%;
    left: 0;
    margin-top: 5px;
    transform: translateY(-10%);
}

h4 {
    font-size: 19px;
}

span.sky-text {
    color: #00b5c7;
    margin-right: 4px;
}

.seat-btn a {
    background: #00b5c7;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 50px;
}

.syllabus-btn a {
    background: #014FA3;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 50px;
}

/* expected salary css begin */

.expected-salary-main {
    background: #e5f0f7;
}

span.up-txt {
    font-size: 21px;
    font-weight: 500;
    color: #000000;
}

span.pack-txt {
    font-size: 30px;
    font-weight: 600;
    color: #000000;
}

span.salary-txt {
    font-size: 17px;
    color: #000000;
    font-weight: 400;
}

/* expected salary css end */
.detail-section h3,
.detail-section p {
    color: #000000;
}

.key {
    font-size: 18px;
    color: #000000;
}

.button-advisor a {
    background: #00b5c7;
    color: #ffffff;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 50px;
}


.red-text {
    color: red;
}

.learn-section {
    background: #F9F9F9;
}

p.bold-text {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}


.steps {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
    border-style: solid;
    border-width: 3px;
    border-color: #f5f5f5;
}

span.step {
    background: #00b5c7;
    color: #000000;
    font-size: 20px;
    padding: 3px 21px;
}

.col-md-5.col-sm-12 img {
    width: 100%;
}

@media screen and (max-width:991px) {
    .syllabus-btn a {
        font-size: 13px;
        padding: 10px 11px;
    }

    .seat-btn a {
        font-size: 13px;
        padding: 10px 15px;
    }

    span.pack-txt {
        font-size: 17px;
    }

    span.salary-txt {
        font-size: 11px;

    }

    .key {
        font-size: 11px;

    }
}

@media screen and (max-width:767px) {
    h4 {
        font-size: 16px;
    }
}

@media screen and (max-width:575px) {
    .syllabus-btn {
        margin-top: 5%;
    }
}

/* course category css end */

.stipend-section {
    background: #00b5c7;
}

.stipend-text h5 {
    background: #00b5c7;
}

p.mb-2 {
    display: flex;
}


/* gallery page css begin */
.gallery-img img {
    width: 320px;
    height: 257px;
    object-fit: cover;
}

/* image preview of gallery begin */



.image-popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

/* close button when we want to close the bigger image */
.close-button {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 60px;
    color: #fff;
    cursor: pointer;
}

.close-button:hover {
    color: red;
}

/* when we click on the image it will expand in bigger size and will displayed
at middle of screen */
#popupImage {
    display: block;
    max-width: 100%;
    max-height: 80%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* image preview gallery end */

/* gallery page css end */
p.mail-id a {
    color: #ffffff;
}



/* crousel css */
.owl-carousel .item img {
    display: block;
    width: 100%;
    height: 220px;
    object-fit: cover !important;
}

.owl-nav {
    display: none !important;
}